
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   background-color:#efeffa ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.secondary-bg{
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 142px;
}

.text-primary{
  color: #4E47FF;
}

.dark-2{
  color: #474747;
}

.btn-primary{
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border-radius:5px ;
  border: none;
  cursor: pointer;

}


.section-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  /* padding: 50px 40px; */
}

.header{
  background-image: url('../images/Hero-bg.png');
  
}


/* nav styles */



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title{
   font-weight: 800;
   font-size: 45px ;
}

nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
}

/* banner styles */

.banner2nd{
  display: flex;
  justify-content: space-around;
  margin: 117px 140px 0px 160px;
}

.banner-title{
  font-weight: bold;
  font-size: 65;
 
}

.banner{
   text-align: center;
   
}

.banner-content{
  padding: 309px 267px 152px ;
}
 
.banners-title{
  font-weight: bold;
  font-size: 42px;
}

.banners-description{
  font-size: 24px;
  
}

.banner-first-pic{
  width: 403px;
  /* height: 328px; */
}

.banner2nd-content{
  max-width: 517px;
}

/* about styles */
.about{
  border-radius: 24px;
  margin: 115px 159px 141px;
 text-align: center;
}

.num-users{
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
}

.productive-user{
  display: flex;
  justify-content: space-around;
  /* padding: 50px 142px; */
}



.banner-second-pic{
  width: 840px;
  height: 364.77;
  border-radius: 48px;
  padding:0 150px 50px ;
}

.hero{
  width: 1140px;
  background-color: #FFFFFF;
  margin: 150px 150px;
  
}

.ready{
 text-align: center;
 padding: 71px 176px 88px;
}

.focus{
  font-size: 50;
  font-weight: bold;
}





.contact-container{
  display: flex;
  padding: 40px;
  max-width: 1140px;
  margin: auto ;
  gap: 50px;
}

.section-column{
  font-size: 47px;
  font-weight: bold;
  margin-left: 142px;
}

.section-form form{
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-right: 142px;
}

.section-form input, .section-form textarea{
  padding: 12px;
  font-size: 18px;
  width: 100%;
}

/* footer styles */
 footer{
  background-color: white;
  padding: 40px 20px;
  text-align: center;
 }

 .footer-container{
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #4E47FF;
 }

 .footer-paragragh{
  max-width: 513px;
  margin: 0 auto 30px;
  line-height: 1.6;
  color: #8987A1;
 }

 .footer-href{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
 }
 .footer-href a{
  text-decoration: none;
  font-weight: 46;
  color: #8987A1;
 }

 